<ng-container>
    <!--toolbar-->
    <mat-toolbar color="primary" class="uk-navbar-container" uk-navbar style="position: fixed; z-index: 2;">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon class="uk-animation-toggle uk-animation-slide-left">menu</mat-icon>
        </button>
        <span class="uk-animation-toggle uk-animation-slide-left">ADDRESS BOOK</span>
        <span class="spacer"></span>
    </mat-toolbar>
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="over" [position]="'start'" [opened]="false" class="sidenav-left" [fixedInViewport]="true" [fixedTopGap]="65" [fixedBottomGap]="0">
            <mat-nav-list>
                <mat-list-item routerLink="/admin/dashboard" (click)="sidenav.toggle()">
                    <mat-icon matListIcon>dashboard</mat-icon>
                    <h3 matLine>Dashboard</h3>
                </mat-list-item>
                <mat-list-item routerLink="/admin/address" (click)="sidenav.toggle()">
                    <mat-icon matListIcon>book</mat-icon>
                    <h3 matLine>Address List</h3>
                </mat-list-item>
                <mat-list-item routerLink="/admin/about" (click)="sidenav.toggle()">
                    <mat-icon matListIcon>info</mat-icon>
                    <h3 matLine>About App</h3>
                </mat-list-item>
                <mat-list-item (click)="logout()">
                    <mat-icon matListIcon>logout</mat-icon>
                    <h3 matLine>Logout</h3>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav #sidenav mode="over" [position]="'end'" class="example-sidenav" [fixedInViewport]="true"
            [fixedTopGap]="60" [fixedBottomGap]="0">
        </mat-sidenav>
        <mat-sidenav-content style="padding: 20px; background-image: url(assets/write.jpg);">
            <router-outlet [@flyInOut]="false"></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>