<article class="uk-article">
    <h1 class="uk-article-title"><a class="uk-link-reset" href="">About this web application.</a></h1>
    <p class="uk-article-meta">Written by Dimas Rizki Novyadi on 9 July 2021.
    <p class="uk-text-lead">ADDRESS BOOK</p>
    <p>Address book is a simple, easy and fast website-based application. You can collect other people's address data easily in a fast process. This web application can be used by people of all ages, from young to old. All address data that is considered important will be stored safely.</p>
    <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <h2>More info contact me at :</h2>
        <div>
            <p>INSTAGRAM : <a href="https://www.instagram.com/dimasriznov18/">dimasriznov18</a></p>
        </div>
        <div>
            <p>EMAIL :<br> - <a href="dimasriznov18@gmail.com">dimasriznov18@gmail.com</a><br> - <a href="dimas1900016071@webmail.uad.ac.id">dimas1900016071@webmail.uad.ac.id</a></p>
        </div>
    </div>
</article>
<router-outlet></router-outlet>
