<article class="uk-article uk-card uk-card-default uk-card-body uk-animation-toggle uk-animation-fade uk-margin-large-top">
    <h1 class="uk-article-title"><a class="uk-link-reset" href=""><b>About this web application</b></a></h1>
    <p class="uk-article-meta">Written by Dimas Rizki Novyadi on 9 July 2021.
    <p class="uk-text-lead">ADDRESS BOOK</p>
    <p>Address book is a simple, easy and fast website-based application. You can collect other people's address data easily in a fast process. This web application can be used by people of all ages, from young to old. All address data that is considered important will be stored safely. The purpose of this web application is to fulfill the assignments for the Advanced Web Technology course at my place of study, namely Ahmad Dahlan University.</p>
    <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <h2>Info about web applications :</h2>
        <table>
            <tr>
                <td>Web Application Type</td>
                <td>: A place to store people's address data</td>
            </tr>
            <tr>
                <td>Web Application Creator</td>
                <td>: Dimas Rizki Novyadi</td>
            </tr>
            <tr>
                <td>Date Created</td>
                <td>: 15 May 2021</td>
            </tr>
            <tr>
                <td>Publication Date</td>
                <td>: 31 July 2021</td>
            </tr>
        </table>
        <br>
        <h3><b>More info contact me at :</b></h3>
        <table>
            <tr>
                <td>INSTAGRAM</td>
                <td>:</td>
                <td><a href="https://www.instagram.com/dimasriznov18/">dimasriznov18</a></td>
            </tr>
            <tr>
                <td>WHATSAPP</td>
                <td>:</td>
                <td>082159823576</td>
            </tr>
            <tr>
                <td>EMAIL</td>
                <td>:</td>
                <td rowspan="2">
                    <ul>
                        <li>dimasriznov18@gmail.com</li>
                        <li>dimas1900016071@webmail.uad.ac.id</li>
                    </ul>
                </td>
            </tr>
            <tr class="char">
                <td>-</td>
                <td>:</td>
            </tr>
        </table>
    </div>
</article>
<router-outlet></router-outlet>
