<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport" style="background-image: url('assets/wp.jpg'); background-size: cover; background-position: center;">
    <mat-card-content>
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom">
            <h1><b>WELCOME TO ADDRESS BOOK</b></h1>
        </div>
        <div class="uk-flex uk-flex-center">
            <button mat-raised-button color="primary" class="text" routerLink="/login">GET STARTED</button>
        </div>
    </mat-card-content>
</div>