<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport" style="background-image: url('assets/wp.jpg'); background-size: cover; background-position: center;">
    <div class="aside">
        <div class="uk-flex uk-flex-center uk-margin-medium-bottom uk-animation-toggle uk-animation-slide-bottom-medium">
            <h1><b>ADDRESS BOOK</b></h1>
        </div>
        <hr class="uk-divider-icon uk-animation-toggle uk-animation-scale-up uk-transform-origin-top-center">
        <div class="uk-flex uk-flex-center uk-animation-toggle uk-animation-slide-top-medium">
            <button mat-raised-button color="primary" class="text" routerLink="/login">GET STARTED</button>
        </div>
    </div>
</div>
