h1 {
    color:lightblue;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}
p {
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
.info1 {
    color: antiquewhite;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.info2 {
    color:antiquewhite;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3 {
    color:honeydew;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
}
.example-card-1 {
    max-width: 500px;
    max-height: 290px;
    background-color: cadetblue;
}
.example-card-2 {
    max-width: 500px;
    max-height: 290px;
    background-color:cornflowerblue;
}
[class*="example-card-"] {
    width: 100%;
}
.row::after {
    content: "";
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 25px;
}
.col-2 {float: right;}
.col-1 {float: left;}
.aside {
    padding: 15px;
    text-align: center;
}
.header {
    padding: 30px;
}
